.themeToggleWrapper {
  pointer-events: auto;
  z-index: 100;
  position: relative;
}

@media (max-width: 600px) {
  .themeToggleWrapper {
    z-index: 9999;
    pointer-events: auto;
    position: relative;
  }
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  
  svg {
    width: 1em;
    height: 1em;
  }
}
